<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Football</title>
        {% block head %}
            <meta charset="utf-8">
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        {% for group_name, group in groups.items() -%}
            <table>
                <caption>
                    <b>{{ group_name }}</b>
                </caption>
                <tbody>
                    <tr class="header">
                        <td rowspan="2" valign="center">Команда</td>
                        <td colspan="3">Игра №1</td>
                        <td colspan="3">Игра №2</td>
                        <td colspan="3">Игра №3</td>
                        <td rowspan="2" valign="center">Мячи</td>
                        <td rowspan="2" valign="center">Очки</td>
                    </tr>
                    <tr class="header">
                        <td>Соперник</td>
                        <td>Счёт</td>
                        <td>Итог</td>
                        <td>Соперник</td>
                        <td>Счёт</td>
                        <td>Итог</td>
                        <td>Соперник</td>
                        <td>Счёт</td>
                        <td>Итог</td>
                    </tr>
                    {% for team in group -%}
                        <tr>
                            <td>{{ team.team }}</td>
                            <td>{{ team.games_order[1] }}</td>
                            <td>{{ team.games[team.games_order[1]]['goals'] }}:{{ team.games[team.games_order[1]]['falls'] }}</td>
                            {% if team.games[team.games_order[1]]['result'] == 'win' -%}
                                <td><img alt="Победа" src="{{ url_for('static',filename='images/win.svg') }}"></td>
                            {% elif team.games[team.games_order[1]]['result'] == 'lose' -%}
                                <td><img alt="Поражение" src="{{ url_for('static',filename='images/lose.svg') }}"></td>
                            {% elif team.games[team.games_order[1]]['result'] == 'draw' -%}
                                <td><img alt="Ничья" src="{{ url_for('static',filename='images/draw.svg') }}"></td>
                            {% else -%}
                                <td><img alt="Нет данных" src="{{ url_for('static',filename='images/no_data.svg') }}"></td>
                            {% endif %}
                            <td>{{ team.games_order[2] }}</td>
                            <td>{{ team.games[team.games_order[2]]['goals'] }}:{{ team.games[team.games_order[2]]['falls'] }}</td>
                            {% if team.games[team.games_order[2]]['result'] == 'win' -%}
                                <td><img alt="Победа" src="{{ url_for('static',filename='images/win.svg') }}"></td>
                            {% elif team.games[team.games_order[2]]['result'] == 'lose' -%}
                                <td><img alt="Поражение" src="{{ url_for('static',filename='images/lose.svg') }}"></td>
                            {% elif team.games[team.games_order[2]]['result'] == 'draw' -%}
                                <td><img alt="Ничья" src="{{ url_for('static',filename='images/draw.svg') }}"></td>
                            {% else -%}
                                <td><img alt="Нет данных" src="{{ url_for('static',filename='images/no_data.svg') }}"></td>
                            {% endif %}
                            <td>{{ team.games_order[3] }}</td>
                            <td>{{ team.games[team.games_order[3]]['goals'] }}:{{ team.games[team.games_order[3]]['falls'] }}</td>
                            {% if team.games[team.games_order[3]]['result'] == 'win' -%}
                                <td><img alt="Победа" src="{{ url_for('static',filename='images/win.svg') }}"></td>
                            {% elif team.games[team.games_order[3]]['result'] == 'lose' -%}
                                <td><img alt="Поражение" src="{{ url_for('static',filename='images/lose.svg') }}"></td>
                            {% elif team.games[team.games_order[3]]['result'] == 'draw' -%}
                                <td><img alt="Ничья" src="{{ url_for('static',filename='images/draw.svg') }}"></td>
                            {% else -%}
                                <td><img alt="Нет данных" src="{{ url_for('static',filename='images/no_data.svg') }}"></td>
                            {% endif %}
                            <td>{{ team.goals_total }}:{{ team.falls_total }}</td>
                            <td>{{ team.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </body>
</html>
